<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	id="base" 
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
									
	<display-name>spring-mvc-jpa-intergration</display-name>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  		  	
	<!--  -->
	
	<filter>
  		<filter-name>OpenEntityManagerInViewFilter</filter-name>
  		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  	</filter>
  	
	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  
	
	<filter>
		<filter-name>ValidaUsuarioLogado</filter-name>
		<filter-class>br.com.wryel.spring.mvc.web.filter.UsuarioLogadoFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ValidaUsuarioLogado</filter-name>
		<url-pattern>*.java</url-pattern>
	</filter-mapping>
	
	  -->

	<filter>
		<filter-name>MontaMenu</filter-name>
		<filter-class>br.com.wryel.spring.mvc.web.filter.MontaMenuFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>MontaMenu</filter-name>
		<url-pattern>*.java</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>*.java</url-pattern>
	</servlet-mapping>
	
	<!--  -->
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
	</jsp-config>
	
</web-app>